body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background-color: #237c7b;
  color: rgb(255, 255, 255);
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 400px;
}

.grid img {
  width: 90px;
  height: 90px;
  margin: 4px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.grid img:hover {
  transform: scale(1.1);
}

button {
  padding: 5px 30px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
