.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: purple;
	border-radius: 10px;
}

.shooter {
	background-color: rgb(150, 214, 150);
}

.laser {
	background-color: rgb(151, 98, 0);
}

.boom {
	background-color: rgb(119, 0, 0);
}

body {
    transition: background-color 0.5s ease;
}